# Files
*.env
*.xlsx
*.DS_Store
python-scripts/extraer_info.py
python-scripts/archivos_CDC.py
python-scripts/extraer.py
cpp-scripts/remove_mismatching_rows_clang

# Directories
node_modules

# Cybersource REST Samples

# Authorization
Configuration.py
Configuration.bak

# Directories
Contract-FullTime/cybersource-rest-samples-python/samples/*

!Contract-FullTime/cybersource-rest-samples-python/samples/RiskManagement/
!Contract-FullTime/cybersource-rest-samples-python/samples/FlexMicroform/
!Contract-FullTime/cybersource-rest-samples-python/samples/networkToken/
!Contract-FullTime/cybersource-rest-samples-python/samples/PayerAuthentication/
!Contract-FullTime/cybersource-rest-samples-python/samples/Payments/
!Contract-FullTime/cybersource-rest-samples-python/samples/RecurringBillingSubscriptions/

# Files
Contract-FullTime/cybersource-rest-samples-python/samples/RiskManagement/DecisionManager/V2dm-testing.py
Contract-FullTime/cybersource-rest-samples-python/samples/RiskManagement/DecisionManager/Example_request.json
Contract-FullTime/cybersource-rest-samples-python/samples/RiskManagement/DecisionManager/dm-karyworld_*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
Logs/
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
